.parent {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .navigation { grid-area: 1 / 1 / 11 / 2; }
    .information { grid-area: 1 / 2 / 2 / 10; }
    .footer { grid-area: 10 / 2 / 11 / 10; }
    .content { grid-area: 2 / 2 / 10 / 10; }
    .picturebox { grid-area: 3 / 7 / 9 / 10; }